baseURL = 'https://senbiki.me/'
languageCode = 'en-us'
title = 'Senbiki'
theme = "PaperMod"
enableGitInfo = true
[markup]
[markup.goldmark]
[markup.goldmark.parser]
[markup.goldmark.parser.attribute]
block = true
title = true
